.playlist-circle {
  width: 16px;
  height: 16px;
  border: 1.5px solid var(--color-text);
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}

.playlist-circle.selected {
  background-color: #00ff00;
  border-color: #00ff00;
}

.create-playlist {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.create-playlist input {
  flex-grow: 1; /* Input field expands to fill available space */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 8px; /* Spacing between input and button */
}

.create-playlist button {
  padding: 8px 16px;
  background-color: var(
    --color-button
  ); /* Green color for Create Playlist button */
  color: var(--color-text);
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.create-playlist button:hover {
  /* background-color: #45a049; */
  opacity: 90%;
}
