.fullscreen-view {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.song-image {
  width: 400px;
  height: 400px;
  position: fixed;
  top: 20%;
  left: 5%;
  z-index: 1;
}

.fullscreen-song-details {
  position: fixed;
  font-size: 40px;
  left: 33%;
  top: 20%;
}
