.fullscreen-view {
  /* position: fixed;
  width: 100vw;
  height: 100vh; */

  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--color-main);
}

.song-image {
  width: 27vw;
  height: 27vw;
  position: fixed;
  top: 20%;
  left: 5%;
  z-index: 1;
}

.song-video {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}

.fullscreen-song-details {
  position: fixed;
  font-size: 40px;
  left: 33%;
  top: 20%;
  z-index: 1;

  color: var(--color-text);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
