.layout-bar {
  padding-top: 5px;
}

.centered-content {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: column;
  margin-right: 10px;
}

.centered-content > * {
  width: 100%;
  height: 30px;
  margin-top: 20%;
  margin-left: 5px;
}

.centered-content > *:hover {
  background-color: var(--color-button);
}

.centered-content .icon {
  width: 20px;
  height: 20px;
}
