.search-bar {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  padding: 5px 10px;
  border-bottom: 1px solid var(--color-accent);
  width: 30%;
  margin-top: 10px;
}

.search-bar input {
  flex: 1; /* Allow input to fill remaining space */
  border: none;
  background-color: transparent;
  font-size: 16px;
  outline: none;
  color: var(--color-text-secondary);
}

.search-bar input::placeholder {
  color: inherit;
  opacity: 0.7;
}

.search-term {
  position: absolute;
  left: 46%;
  top: 35%;
  font-size: 7em;
  transition: all 1s ease-in-out;
}
