.song-list-container {
  padding: 20px;
  padding-top: 0px;
}

.song-list-header {
  /* height: 10%; */
  font-size: 100px;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.empty-message {
  margin-top: 40%;
  text-align: center;
  color: var(--color-text);
  margin-bottom: 10px;
}

.empty-message p {
  font-size: 18px;
  margin-bottom: 10px;
}

.empty-message label {
  display: inline-block;
  background-color: #007bff;
  color: var(--color-text);
  border: none;
  padding: 8px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.empty-message label:hover {
  background-color: #0056b3;
}

/* Hide the input element */
#folderInput {
  display: none;
}

.song {
  position: relative;
  color: var(--color-text-secondary);
}

.song-details-header {
  position: sticky;
  top: 0;
  background-color: var(--color-secondary);
  z-index: 1;
  display: flex;
  gap: 100px;
}

.song-list {
  list-style: none;
  padding: 0;
}

.list-item {
  padding: 10px;
  /* border-bottom: 1px solid #ccc; */
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 5px;
}

.list-item:hover {
  background-color: rgba(1, 1, 1, 0.2);
}

.list-image {
  height: 70px;
  width: 70px;
  margin-right: 10px;
}

.list-image-header {
  height: 200px;
  width: 200px;
  margin-right: 10px;
}

.song-details {
  display: flex;
  flex-direction: column;
}

.song-details span:hover {
  text-decoration: underline;
  cursor: pointer;
}

.song-title {
  font-size: 25px;
}

.header-color {
  color: var(--color-text);
}

.highlighted {
  color: var(--color-button-secondary);
  background-color: rgba(1, 1, 1, 0.5);
}

.song-duration {
  display: flex;
  flex: auto;
  justify-content: flex-end;
  font-size: 16px;
  color: var(--color-text);
}

.right-side {
  display: flex;
  /* flex: auto; */
  justify-content: flex-end;
  align-items: center;
  margin-left: 10px;
}

.plus-sign {
  font-size: 20px;
  margin-right: 10px;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.dropdown-button {
  font-size: 20px;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.playlist-header-2-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rightSide {
  display: flex;
  justify-content: flex-end;
  width: 20%;
  gap: 5px;
  align-items: center;
}

.arrows-container {
  display: flex;
  justify-content: space-between;
}

.right-arrow {
  margin-left: auto;
}

.sort {
  cursor: pointer;
  width: 7em;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.sortByField:hover {
  opacity: 70%;
}

.sortByFilterField:hover {
  opacity: 70%;
}
