.playbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.playbar-right-side {
  display: flex;
  justify-content: flex-end;
  width: 20%;
  gap: 0.8vw;
  align-items: center;
}

/* Each 'section' in the playbar */
/* .playbar div {
} */

.current-song {
  margin-left: 1%;
  display: flex;
  align-items: center;
  position: relative;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 20%;
}

.current-song span {
  display: block;
  font-size: 14px;
}

.playbar-image {
  height: 50px;
  width: 50px;
  margin-right: 5px;
}

.song-details {
  display: flex;
  flex-direction: column;
}

.playbar-controls {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1vh;
}

.playbar-controls button {
  background-color: #666;
  color: white;
  border: none;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
}

.buttons-container {
  display: flex;
  /* gap: 1vw; */
  align-items: center;
  margin-right: 3vw;
}

.playback-timer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
  color: var(--color-text-secondary);
}

.playback-bar {
  margin: 5px;
}

.playback-bar input[type='range'] {
  width: 34vw;
}

.playback-bar input[type='range']::-webkit-slider-thumb {
  box-shadow: -400px 0 0 400px var(--color-button-secondary);
}

/* Generic, applies to playback and volume */
input[type='range'] {
  overflow: hidden;
  width: 80px;
  height: 5px;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 100px;
  background-color: var(--color-secondary);
}

input[type='range']::-webkit-slider-runnable-track {
  /* height: 10px; */
  -webkit-appearance: none;
  /* color: #13bba4; */
  margin-top: -1px;
}

input[type='range']::-webkit-slider-thumb {
  /* display: none; */
  width: 0px;
  -webkit-appearance: none;
  height: 10px;
  /* border-radius: 50%; */
  /* cursor: ew-resize; */
  background: transparent;
  box-shadow: -80px 0 0 80px var(--color-button-secondary);
}

.fullscreen-button {
  height: 20px;
  width: 20px;
}
