:root {
  /* --color-main: #203245; */
  --color-main: black;
  /* --color-secondary: #2a4057; */
  --color-secondary: rgb(26, 25, 26);
  --color-button: #294973;
  --color-text: white;
  --color-button-secondary: #316baa;
  /* --color-button-secondary: #e76f51; */
  /* --color-button-secondary: #277da1; */
}

.app-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  color: var(--color-text);
  flex-direction: initial;
  /* I dont like blurry text */
  font-weight: 300;
}

.non-fullscreen {
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
  /* width: 100vw; */
  background-color: var(--color-main);
}

.middle-content {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  overflow: hidden;
  width: 100vw;
}

.playbar {
  /* width: 100%; */
  /* background-color: inherit; */
  /* position: absolute; */
  /* bottom: 0; */

  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: auto; */
  /* position: absolute; */
  /* width: 100%; */
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100vw;
}

.layout-bar {
  padding-right: 10px;
  background-color: var(--color-main);
}

.main-content {
  flex-grow: 1;
  background-color: var(--color-secondary);
  overflow: overlay;

  /* height: 90%; */
  /* height: auto; */
  /* padding-bottom: 100px; */

  /* scrollbar-width: thin;
  scrollbar-color: #ccc #f0f0f0; */
}

.main-content::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

.main-content::-webkit-scrollbar-track {
  background: var(--color-main); /* Background color of the track */
}

.main-content::-webkit-scrollbar-thumb {
  background-color: var(--color-text); /* Color of the moveable bar */
  border-radius: 10px; /* Add rounded corners */
}

.main-content::-webkit-scrollbar-thumb:hover {
  background-color: var(
    --color-button
  ); /* Color of the  moveable bar on hover */
}
