.settings {
  color: var(--color-text-inverse);
}

.settings-container {
  background-color: var(--color-main);
  color: var(--color-text);
  padding: 20px;
  border: 1px solid #2a2a38;
  border-radius: 8px;
  margin: 20px;
}

.settings-container label b:hover {
  text-decoration: underline;
}

.setting-item {
  margin-top: 10px;
  margin-bottom: 10px;
}
