.settings {
  color: var(--color-text-inverse);
}

.settings-container {
  background-color: var(--color-tertiary);
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 20px;
}

.settings-container label b:hover {
  text-decoration: underline;
}

.setting-item {
  margin-top: 10px;
  margin-bottom: 10px;
}
